ul {
  width: 90%;

  li {
    border: 1px solid #ccc;
    border-radius: 30px;
    color: var(--light-color);
    padding-left: 10px;
    margin-bottom: 5px;

    span {
      color: var(--alert-color);
    }
  }
}
