ul {
  width: 90%;

  li {
    border: 1px solid #ccc;
    border-radius: 30px;
    color: var(--light-color);
    padding-left: 10px;
    margin-bottom: 5px;

    span {
      color: var(--alert-color);
    }

    .close-btn {
      border: 1px solid var(--alert-color);
      cursor: pointer;
      display: block;
      float: right;
      margin-right: 15px;
      padding: 0px 5px;
      text-align: center;
    }
  }
}
