ul {
  width: 100%;

  @media (min-width: 820px) {
    width: 90%;
  }

  li {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: var(--light-color);
    padding: 10px 0px 10px 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: var(--alert-color);
    }

    .btn-close {
      border: none;
      border-radius: 2px;
      background-color: var(--alert-color);
      color: #fff;
      cursor: pointer;
      font-weight: bold;
      margin-right: 10px;
      padding: 3px 10px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: var(--alert-color-hover);
      }
    }
  }
}
