.card {
  background-color: #1b1923;
  border-radius: 10%;
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  width: 350px;
  height: 450px;

  &:hover {
    transform: scale(1.1);
  }

  h2 {
    color: #e5b4e2;
    font-size: 30px;
  }

  dt {
    font-weight: bold;
    color: #a4b9ef;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;

    button {
      margin: 5px;
    }
  }
}
