<div class="card">
  <h1>{{ superhero }}</h1>
  <dl>
    <dt>Name:</dt>
    <dd>{{ name }}</dd>
    <dt>Age:</dt>
    <dd>{{ age }}</dd>
    <dt>Description:</dt>
    <dd>{{ getHeroDescription() }}</dd>
    <dt>Capitalized:</dt>
    <dd>{{ capitalizeName }}</dd>
  </dl>
  <div class="card__buttons">
    <button class="btn btn-primary" *ngIf="superhero !== 'Ironman'" (click)="changeHero()">
      Change hero
    </button>
    <button class="btn btn-alert" (click)="reset()">Reset</button>
  </div>
</div>
