form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  input {
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    width: 100%;
    border: 2px solid var(--dark-color);

    &:focus {
      outline: 1px solid var(--primary-color);
    }
  }

  button {
    margin: 10px;
  }

  .mb {
    margin-bottom: 1px;
  }
}
