/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  background-color: #1e1e28;
  color: #fff;
  font-family: poppins, sans-serif;
  margin: auto;
  width: 90%;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .btn {
    border: none;
    border-radius: 5px;
    color: #1b1923;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    padding: 10px;
    width: 100%;
    transition: all 0.3s ease-in-out;

    &-primary {
      background-color: #aedfaa;

      &:hover {
        background-color: #86ac83;
      }
    }

    &-alert {
      background-color: #e38c8f;

      &:hover {
        background-color: #b06c6e;
      }
    }
  }
}
