/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  background-color: #1e1e28;
  color: #fff;
  font-family: poppins, sans-serif;
}
